<div class="col-xs-8 preview-display">
  <div class="panel panel-info preview">
    <div class="panel-body">
      <img src="<%= current_user.image %>" alt="" class="img-circle pull-left">
      <p class="name"><%= current_user.name %><span class="text-muted">@<%= current_user.nickname %></span></p>
      <div class="main-box">
        <p id="main"></p>
      </div>
      <div id="image-box"><img id="image-preview" style="width:280px;"></div>
    </div>
    <a href="#" class="preview-hide text-muted">入力クリア</a>
  </div>
</div>
