<div class="form-group search-form">
  <%= search_form_for(@q, url: root_path) do |f| %>
    <p class="glyphicon glyphicon-search">範囲検索</p>
    <%= f.date_field :created_after, class:'form-control search-start' %>
    <%= f.date_field :created_before, class:'form-control search-end pull-right' %>
    <%= f.submit '検索', class:'btn-default pull-right' %>
  <% end %>
</div>
