/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// 全体

 body{
   background: #FFFFFF;
   font-family: 'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
 }

 footer {
   margin-top: 200px;
   margin-bottom: 20px;
   list-style: none;
 }

 #sidebar {
   position: -webkit-sticky;
   position: sticky;
   top: 15px;
 }

 h1 {
   margin: 0 0 8px 0;
   padding: 0
 }

.diary img, #image-preview {
  border-radius: 10px;
}

 .btn-default {
     display: inline-block;
     padding: 0.5em 1em;
     text-decoration: none;
     border-radius: 3px;
     color: #FFF;
     background-image: -webkit-linear-gradient(45deg, #136FFF 0%, #8EB8FF 100%);
     background-image: linear-gradient(45deg, #136FFF 0%, #8EB8FF 100%);
     transition: .3s;
     &:hover{
     background-image: -webkit-linear-gradient(45deg, #136FFF 50%, #8EB8FF 100%);
     background-image: linear-gradient(45deg, #136FFF 50%, #8EB8FF 100%);
   }
 }

 nav .login-button a{
   padding: 0;
   img {
     margin-top: -8px;
     margin-bottom: -7px;
     height: 64px;
     width: auto;
   }
 }

 .twitter-img {
   height: 45px;
   margin-top: 2px;
 }

 .navbar-left{
   margin-top: 9px
 }

.navbar-right li a{
  padding-left: 8px;
  padding-right: 8px;
}
// トップページ

.cover {
  padding-top: 10px;
  margin: -20px auto 20px;
  width: 100%;
  height: 600px;
  background: url("/images/log.jpg") center center no-repeat;
  background-size: cover;
  h3 {
    width: 100%;
    display: inline-block;
    color: #fff;
    margin-bottom: 7px;
  }
  p {
    font-size: 20px;
    text-align: center;
    color: #FFFF33;
  }
}

.toppage{
  p {
  font-size: 16px;
  }
  ul {
    margin-top: 18px;
    font-size: 15px;
    list-style: none;
  }
}

.login-link{
  a {
    width: 305px;
    font-size: 20px;
    margin: 360px auto 10px;
    display: block;
  }
}

// フォーム

.tweet-form textarea{
  height: 120px;
  width: 100%;
}

.image-form {
  position: relative;
  label {
  color: #fff;
  font-weight: normal;
  background: linear-gradient(#dc143c, #ffa500);
  padding: 6px;
  border-radius: 12px;
  opacity: 0.7;
  transition: .4s;
  &:hover {
    color: #000;
    opacity: 1;
    }
  }
  small {
    position: absolute;
    bottom: 4px;
    color: #666666;
  }
}

#tweet_form {
  font-size: 12px;
}

.serch-form {
  margin-top: 10px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}


// プレビュー

.preview {
  height: auto;
  marigin-top: 0;
  position: relative;
  display: none;
  h5 {
    margin-top: 0;
    margin-bottom: 2px;
  }
  .name {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 2px;
    span {
      margin-left: 5px;
    }
  }
  #main {
    padding-left: 50px;
    display: block;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  #image-box {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 10%;
  }
  a {
    font-size: 14px;
    position: absolute;
    display: block;
    right: 20px;
    bottom: 4px;
  }
}

.panel-body {
  padding: 8px;
}

// 上に戻るボタン
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  width: 60px;
  height: 60px;
  background: #BBBBBB;
  color: #333;
  opacity: 0.5;
  transition: opacity 2.5s;
  font-size: 1.6em;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  &:hover {
    opacity: 1;
  }
}

// コンテンツ

.content {
  margin-left: 10px;
  font-size: 16px;
}

.tweet-day {
	font-size: 14px;
	display: flex;
	align-items: center;
}

.tweet-day:before {
	content: "";
	flex-grow: 1;
	height: 1px;
	background: #444;
	display: block;
  margin-right: .4em;
  background: linear-gradient(90deg, #8b4513, transparent);
}

.glyphicon-trash {
  display: block;
  font-size: 18px;
  margin-top: 20px;
  color: gray;
}

// 検索
.search-form {
  margin-top: 16px;
  p {
    font-size: 18px;
  }
  .search-start {
    margin-top: 4px;
    width: 70%
  }
  .search-end {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 70%;
  }
  .btn-default {
    display: block;
    clear: both;
  }
}

// フラッシュメッセージ

#flash {
  position: fixed;
  top: 80%;
  left: 5%;
  width: 70%;
  height: 200px;
  text-align: center;
  font-size: 15px;
  z-index: 2;
}
