/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
   background: #FFFFFF;
   font-family: 'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
 }
// 全体

 h1 {
   margin: 0 0 8px 0;
   padding: 0
 }

 .twitter-img {
   height: 44px;
   margin-top: 1.5px
 }

 .navbar-left{
   margin-top: 9px
 }

// tweets/index

.tweet-form textarea{
  height: 120px;
  width: 100%
}

.serch-form {
  margin-top: 10px;
}

.preview {
  height: auto;
  marigin-top: 0;
  position: relative;
  display: none;
  .name {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 2px;
    span {
      margin-left: 5px;
    }
  }
  #main {
    padding-left: 50px;
    display: block;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  a {
    font-size: 13.3px;
    position: absolute;
    right: 10px;
    bottom: 0px;
  }
}

.panel-body {
  padding: 8px;
}

.content {
  margin-left: 10px;
  font-size: 15px;
}

.tweet-day {
	font-size: 14px;
	display: flex;
	align-items: center;
}

.tweet-day:before {
	content: "";
	flex-grow: 1;
	height: 1px;
	background: #444;
	display: block;
  margin-right: .4em;
  background: linear-gradient(90deg, #8b4513, transparent);
}
